
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600;1,700&display=swap');


.dark-theme {
  background-color: rgb(19, 19, 19);
  color: white;
  * {
    background-color: rgb(19, 19, 19);
    color: white;
  }

  p, i, span {
    background-color: transparent;
  }
  .bg-common:active {
    background-color: transparent;
  }

  .menu-item:hover {
    color: white;

    i, span, div {
      color: white;

    }
  }

  .menu-item:active {
    color: white;
    i, span, div {
      background-color: transparent;
      color: white;

    }
  }

  .menu-item {
    i, span, div {
      color: rgba(255, 255, 255, 0.6)
    }
  }

  
  .button-style:hover {
    background-color: #3B71CA;
    i,span {
      color:white
    } 
  }

  .button-style {
    background-color: transparent;
    i,span, div {
      color:white;
      background-color: transparent;
    }    
  }

  .animated-text {
    color:white;
    font-family: 'Roboto Mono', monospace;

  }

  .resume-e-container {
    .resume-title {
      font-family: 'Roboto Mono', monospace;
      font-size: 18;     
    }
    span, p { 
        color: rgba(255,255,255,0.5) 
    }

    .ant-timeline-item-tail {
      background-color: rgba(255,255,255,1);
      width: 1px;
      border: 0px solid white
       
    }

    .tag-text {
      color: rgba(255,255,255,0.8) 

    }
  }
  
}

.menu-item:hover {
  color: black;
  i, span, div {

    background-color: transparent;
    color: black;
  }
}


.menu-item:active {
  color: black;
  i, span, div {
    background-color: transparent;
    color: black;
  }
}

.menu-item {
  i, span, div {
    color: rgba(0, 0, 0, 0.6)
  }
}

.button-style:hover {
  background-color: #3B71CA;
  i,span {
    color:white
  }
  
}

.button-style {
  background-color: transparent;
  i,span {  color:black }
}

.animated-text {
  font-size: 32px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 6s steps(60, end);  
  font-weight: 600;
  color:rgb(123, 123, 123);
  font-family: 'Roboto Mono', monospace;

}

.resume-e-container {
  span, p { 
    color: rgba(0,0,0,0.5); 
    font-size: 24;     

}
  .resume-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 24;        
  }
  

  .ant-timeline-item-tail {
    background-color: rgba(68, 149, 254, 0.4);
    width: 1px;
    border: 0px solid rgba(68, 149, 254, 0.4);
  }

  .tag-text {
    color: rgba(0,0,0,0.6) 
  }

  .ant-timeline-item-last {
    // padding-bottom: 0
  }
}


* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .container-fluid .jumbotron, .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 768px) {
  .jumbotron {
      padding-bottom: 48px;
      padding-top: 48px;
  }
}

